*{
    box-sizing: border-box;
    margin: 0px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #1b232c;
    position: sticky;
    width: 100%;
    top: 0;
}
#HomePage{
    display: inline;
    font-size: 24px;
    color: #DBE2EF;
    font-family: 'Oswald',sans-serif;
    transform: scaleX(1.3);
    margin-left: 10px;
    font-weight: 700;
    text-decoration: none;
    
}
#navtable tr{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    color: #DBE2EF;
}
#resume a{
    text-decoration: none;
    font-family: 'Oswald',sans-serif;
    color: #112D4E;
    font-weight: bold;
    background-color: #DBE2EF;
    border-radius: 6px;
    padding: 10px 30px;
}
#Home{
    height: 100vh;
    background:
        
    /* Grid - Horizontal */
        linear-gradient(rgba(244, 238, 238, 0.06) 1px, transparent 1px),

        /* Grid - Vertical */
        linear-gradient(90deg, rgba(240, 229, 229, 0.06) 1px, transparent 1px),
        radial-gradient(circle at 65% 35%,#1a1043 20%,#060c17 40%);
    background-size:
        80px 80px,
        80px 80px,
        100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#image img{
    margin-top: 0px;
    border-radius: 15px;
}
#about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    color: #DBE2EF;
}
#idtags{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    padding: 10px 0px;
}
#idtags a{
    text-decoration: none;
    color: #DBE2EF;
    font-family: 'Oswald',sans-serif;
    font-size: 150%;
    background-color: #340b58;
    border-radius: 15px;
    padding: 5px 10px;
    box-shadow: -1px 1px #a4bff1;
}
#idtags a:hover{
    transform: translate(5%,-5%);
    box-shadow: -2px 2px #a4bff1;
}













#ProjectPage{
    height: 100vh;
    background:linear-gradient(to bottom right,#DBE2EF,#a4bff1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#ProjectTitle{
    color: #112D4E;
    font-family: 'Oswald',sans-serif;
    font-weight: 500;
    font-size: 200%;

}
#Projects{
    height:400px;
    background-color: #2567b2;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 40px;
    gap: 20px;
    border-radius: 15px;
}
.projectcards{
    width: 200px;
    height: 100%;
    background-color: #DBE2EF;
    border-radius: 15px;
    
}
